{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <div><a style="font-size: 1.5rem;margin-right: 30px;margin-top: 10px; color: darkblue" class="a-accueil" href="{{ path('app_logout') }}">Déconnexion</a></div>
    <div class="icon-user"><a style="color: black" class="a-accueil" href="{{path('app_accueil_profile')}}"><i class="fa-solid fa-user"></i></a></div>
    <div class="lien-creation">
        <div><a class="a-accueil" href="{{path('app_accueil_home_sujet')}}">Créer un sujet</a></div>
        <div><a class="a-accueil" href="{{ path('app_accueil_home_message') }}">Créer un message</a></div>
    </div>
    <div style="text-align: center">
        <h1>Liste des sujets</h1>
    </div>
    <div style="display: flex;justify-content: center;">
        <ul style="width: 50%">
            {% for sujet in sujets %}
            <li class="sujet-li" style="font-size: 2rem">
                <a class="a-accueil" href="{{path('app_accueil_home_sujet_id', { id: sujet.id })}}">{{ sujet.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
