{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <div style="display: flex;justify-content: space-between">
        <a class="a-accueil" href="{{path('app_accueil_liste')}}" style="font-size: 1.75rem">Accueil</a>
        <a class="a-accueil" href="{{path('app_accueil_profile')}}"><i class="icon-user fa-solid fa-user"></i></a>
    </div>
    <div><a style="font-size: 1.5rem;margin-right: 30px;margin-top: 10px; color: darkblue" class="a-accueil" href="{{ path('app_logout') }}">Déconnexion</a></div>
    <div style="text-align: center"><h1>Titre du Sujet</h1></div>
<div style="font-size: 1.5rem; text-align: center">
    {{ sujet[0].title }}
</div>
    <div><h2>Tous les messages</h2></div>
    <div>
        <div>
            <ul>
                {% for message in messages %}
                    <li>
                        Message : {{ message.text }} </br>
                        Créer par : {{ message.user.email }} </br>
                        Date de création {{ message.createdAt|date("d/m/Y") }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}